Client/Service References/FirstWebServiceReference/FirstWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FirstWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49841/FirstWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49841/FirstWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49841/FirstWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kilimanjaro.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFirstWebService_Message_InputMessage">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="IFirstWebService_Message_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:message name="IFirstWebService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IFirstWebService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IFirstWebService_ListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAll" />
  </wsdl:message>
  <wsdl:message name="IFirstWebService_ListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IFirstWebService_TypeListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:TypeListAll" />
  </wsdl:message>
  <wsdl:message name="IFirstWebService_TypeListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:TypeListAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IFirstWebService">
    <wsdl:operation name="Message">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWebService/Message" message="tns:IFirstWebService_Message_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWebService/MessageResponse" message="tns:IFirstWebService_Message_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWebService/Add" message="tns:IFirstWebService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWebService/AddResponse" message="tns:IFirstWebService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWebService/ListAll" message="tns:IFirstWebService_ListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWebService/ListAllResponse" message="tns:IFirstWebService_ListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TypeListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWebService/TypeListAll" message="tns:IFirstWebService_TypeListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWebService/TypeListAllResponse" message="tns:IFirstWebService_TypeListAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFirstWebService" type="tns:IFirstWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/IFirstWebService/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IFirstWebService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <soap:operation soapAction="http://tempuri.org/IFirstWebService/ListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TypeListAll">
      <soap:operation soapAction="http://tempuri.org/IFirstWebService/TypeListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FirstWebService">
    <wsdl:port name="BasicHttpBinding_IFirstWebService" binding="tns:BasicHttpBinding_IFirstWebService">
      <soap:address location="http://localhost:49841/FirstWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>